{% extends 'base.html' %}

{% block content %}

		<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">
        				
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
<br/><br/>
Sed tincidunt, libero eu porta lobortis, turpis risus sollicitudin massa, vitae elementum dui nunc ac mi. Phasellus sagittis luctus odio vitae pulvinar. Mauris pellentesque iaculis consequat. Suspendisse malesuada eleifend neque sit amet interdum. Nullam convallis, felis eu tincidunt lacinia, ipsum mi semper velit, et gravida ex est ut ligula. Nulla venenatis orci risus, sit amet imperdiet ipsum rhoncus sit amet. Curabitur rutrum volutpat sapien, ac pulvinar mauris feugiat ac. Etiam ac arcu at urna tempus ullamcorper. Sed facilisis mi eget suscipit imperdiet.
<br/><br/>
Aenean luctus elit vitae diam vehicula pharetra. Ut dapibus egestas magna sit amet ornare. Nulla efficitur magna eget augue volutpat mattis. Integer nibh leo, mollis et nulla at, eleifend placerat nibh. Donec tempus tortor neque, in tincidunt est vehicula laoreet. Vivamus enim metus, gravida sit amet scelerisque bibendum, molestie sed lectus. Aenean ligula orci, fringilla in elit ut, dictum cursus turpis. Aliquam ultrices eros urna, faucibus facilisis mi sodales sed. Sed ornare libero tellus.
</p>
<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}